
@import url('https://fonts.googleapis.com/css2?family=Suwannaphum:wght@100;300;400;700;900&display=swap');
:root{
    --color-primary:#1100ff;
    --color-white: #ffffff;
    --color-black: #000000;
    --color-black-1:  #4b4b4b;
    --color-hovered: #ffa600;


}
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    outline: none;
    
}
body{
    font-family:Suwannaphum,'Times New Roman', Times, serif;
    overflow-x: hidden;
    color: aqua;
}
header{
    background-color: #1100ff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 50px;
    border-bottom:1px solid#dbdbdb;
    font-family:Suwannaphum;
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 1.5fr 1.2fr 0.8fr;
    grid-template-areas:"header ul li " ;
    grid-gap: 0.2em; */
}
header ul li{
    display: inline-block;
    list-style:none;
    margin: 0 30px
}
header ul li:last-child{
    margin-right: 0;
}
header ul li a{
    text-decoration: none;
    color: var(--color-white);
    padding: 22px 0;
    display: inline-block;
    transition: all ease 0.3s;
    font-size: 18px;
}

header ul li a:hover{
    color:var(--color-hovered)
}
header ul .submenu{
    position: absolute;
    width: 200px;
    background-color: var(--color-primary);
    box-shadow: 0 2px 30px #808080;
    margin-top: -50px;
    opacity: 0;
    z-index: -999;
    transition: all ease 0.5s;
    border-radius: 5px;
}
header ul li:hover .submenu{
    z-index: 99;
    opacity: 1;
    margin-top: 0;
}
header ul.submenu li a{
    padding: 10px 20px;
    display: inline-block;
    width: 100%;
    
    
}
.hero_sec{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1000px;
    height: 100%;
    margin: auto;
}
.logo{
    width: 70px;
    align-items:left;
    display: flex;
    margin-right: 170px;
}
.font-1{
    font-family:Suwannaphum;
    margin-top: 50px;
}
.font-2{
    font-size: 20px;
    /* margin-top: 50px; */
    font-family:Suwannaphum;
}
.font-3{
    color: #434141;
}
